.Dropdown-option {
  text-align: left;
}

.parent-mid {
  margin-left: 0px;
}

.parent-mid-1, .parent-mid-2, .parent-mid-3 {
  font-weight: bold;
}

.parent-mid-3 {
  margin-left: 0px;
}

.parent-mid-4 {
  padding-left: 40px;
}

.parent-mid-5 {
  padding-left: 60px;
}

.parent-mid-6 {
  padding-left: 80px;
}