:root {
  --header-height: 65px;
}

#root {
  height: 100vh;
  display: flex;
}

.app {
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content-container {
  flex-grow: 1;

  iframe {
    border: 0px;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#cashier {
  flex-grow: 1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
